<div class="row">
    <div class="title"><strong>
        {% if nolink %}
        {{name}}
        {% elif player %}
        <a href="{% url 'trade_app:player' id %}">{{name}} | {{pos}}</a>
        {% elif team %}
        <a href="{% url 'trade_app:roster' id %}">{{name}}</a>
        {% endif %}
    </strong>
    </div>
    {% for key, value in stats.items %}
        {% if keys|get_item:key %}
            <div class="num">
                {{value|round_stat}}
            </div>
        {% endif %}
    {% endfor %}
</div>