{% load static %}
<link rel="stylesheet" href="{% static 'trade_app/style.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto&display=swap');
</style>
<script>
    const loading = () => {
        var x = document.getElementById("loader");
        var t = document.getElementById("loadertext");
        var y = document.getElementById("content");
        x.style.display = "block";
        y.style.display = "none";
        t.style.display = 'block';
    
    }
</script>

<div class="loading">
<h3 id="loadertext">...Gathering League Data (this will take a moment)...</h3>
<img id="loader" src="{% static 'trade_app/images/spinball.gif' %}" />
</div>

<div id="content">

<h2>Enter League Information</h2>
<div class="alert">
    For help on finding your league's SW ID and S2 ID, check out 
    <a href="https://github.com/cwendt94/espn-api/discussions/150" target="_blank">this discussion</a>!
</div>

<form class='form' action="{% url 'trade_app:index' %}" method="post">
    {% csrf_token %}

    <fieldset>
    <div class="field">
        <input type="text" name="sw" id="sw" placeholder="SW ID">
    </div>
    <div class="field">
        <input type="text" name="s2" id="s2" placeholder="S2 ID">
    </div>
    <div class="field">
        <input type="text" name="lid" id="lid" placeholder="League ID">
    </div>
    <div class="field">
        <input type="text" name="year" id="year" placeholder="Season">
    </div>
    </fieldset>

    <input type="submit" value="Submit" onclick="loading()">
</form>

</div>

{% include './signature.html' %}
