{% load static %}
<link rel="stylesheet" href="{% static 'trade_app/style.css' %}">
<script>
    const loading = () => {
        var x = document.getElementById("loader");
        var t = document.getElementById("loadertext");
        var y = document.getElementById("content");
        x.style.display = "block";
        y.style.display = "none";
        t.style.display = 'block';
    
    }
</script>

<div id="loadertext">...Gathering League Data (this will take a moment)...</div>
<img id="loader" src="{% static 'trade_app/images/spinball.gif' %}" />

<form id='content' action="{% url 'trade_app:index' %}" method="post">
    {% csrf_token %}

    <fieldset>
        <input type="text" name="sw" id="sw" placeholder="SW ID">
        <label for="sw">SWID</label><br>
        <input type="text" name="s2" id="s2" placeholder="S2 ID">
        <label for="s2">S2 ID</label><br>
        <input type="text" name="lid" id="lid" placeholder="League ID">
        <label for="lid">League ID</label><br>
        <input type="text" name="year" id="year" placeholder="Season">
        <label for="year">Season Year</label><br>
    </fieldset>

    <input type="submit" value="Submit" onclick="loading()">
</form>
