<meta name="viewport" content="width=device-width, initial-scale=1.0">
<form class='form' id="player-form" action="{% url 'trade_app:player_trade_form' team1.id team2.id%}" method="post">
    {% csrf_token %}

    <div class="player-form">
        <div class="player-section">
        <h2>Players You're Trading</h2>
        <div class="player-listing">
            {% for player in players1 %}
            <div class="player-row">
            <input type="checkbox" value={{player.id}} name="trading{{player.id}}" id={{player.id}}>
            <label for={{player.id}}>{{player.name}}</label>
            </div>
            {% endfor %}
        </div>
        </div>

        <div class="player-section">
        <h2>Players You're Getting</h2>
        <div class="player-listing">
            {% for player in players2 %}
            <div class="player-row">
            <input type="checkbox" value={{player.id}} name="getting{{player.id}}" id={{player.id}}>
            <label for={{player.id}}>{{player.name}}</label>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>

    <input type="submit" class='player-submit' value="Analyze Trade">
</form>

{% include './roster.html' with team=team1 stats=stats1 players=players1 keys=keys %}

{% include './roster.html' with team=team2 stats=stats2 players=players2 keys=keys no_team=True%}

{% include './signature.html' %}