{% load static %}

<link rel="stylesheet" href="{% static 'trade_app/style.css' %}">

<h1>{{ team.name }} Roster</h1>

<div>__________</div>

<div class="table">
    
    {% include './stat_header.html' with stats=stats keys=keys %}
    {% for player in team.player_set.all %}
        {% include './entry.html' with id=player.id name=player.name stats=player.statcard_set.first|stat_dict keys=keys %}
    {% endfor %}
    
</div>

{% include './entry.html' with nolink='true' id=team.id name='TOTAL' stats=stats keys=keys %}