<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" href="{% static 'trade_app/style.css' %}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto&display=swap');
  </style>

<h2>Start Your Trade!</h2>

<form class='form' action="{% url 'trade_app:trade_form' id %}" method="post">
    {% csrf_token %}

    <fieldset>
        <label for="self_team">Your Team</label>
        <select name="self_team" id="self_team">
            {% for team in teams %}
            <option value={{team.id}}>{{team.name}}</option>
            {% endfor %}
        </select><br>
        <label for="other_team">Team Trading With</label>
        <select name="other_team" id="other_team"><br>
            {% for team in teams %}
            <option value={{team.id}}>{{team.name}}</option>
            {% endfor %}
        </select>
    </fieldset>

    <input type="submit" value="Submit">
</form>

{% include './signature.html' %}
