body{
    font-family: 'Roboto', sans-serif;
}

#loadertext, #loader {
    display: none;
}

.table{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.row{
    display: grid;
    grid-template-columns: 2.5fr repeat(11, 1fr);
    margin-top: 5px;
    gap: 2%;
}

.title{
    font-size: 1em;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: teal;
}

a:hover{
    text-decoration: none;
    color: forestgreen;
}

.stats{
    display: flex;
    flex-direction: column;
}

.stat{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header{
    font-size: 18px;
}

input[type='submit']{
    background-color: teal;
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: 0px;
}